@import 'node_modules/react-modal-video/scss/modal-video.scss';

.about-video {
    padding: 167px 0;
    background: url("../../../../public/img/about/video-background.jpg") center no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
    &:hover {
        .about-video__play-icon {
            transform:translate(-50%, -50%) scale(0.8) ;
        }
    }
    // .about-video__play-icon
    &__play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        transition: transform 0.2s ease;
    }
}
