@import "../../assets/styles/helpers/vars.scss";

.collection {
    // .collection__wrapper
    &__wrapper {
        display: flex;
        justify-content: center;
        gap: 29.5px;
        align-items: center;
        @media (max-width: $pcBig){
            gap: 15px;
        }
        @media (max-width: $tablet){
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}