@import "../../../assets/styles/helpers/vars.scss";

.pagination-item {
    padding: 5px 6px;
    &:hover {
        cursor: pointer;
    }
    // .pagination-item__link
    &__link {
        font-size: 14px;
        line-height: 2;
        font-weight: 600;
        color: #707070;
        &--active {
            color: $black;
        }
    }
}