//<====Breakpoints=====>
$pcBig: 1920px; //большие мониторы
$pc: 1260px; //пк и ноутбуки
$tablet: 991.98px; //планшеты
$mobile: 767.96px; //телефоны
$mobileMiddle: 677px; //телефоны
$mobileSmall: 479.98px; //телефоны

//<=====Font========>
$FontFamily: 'Open Sans', sans-serif;
$Mont: 'Montserrat', sans-serif;
$fontSize: 16px;



//<=====Colors======>
$black: #363838;
$white: #FFFFFF;
$grey: #5A5A5A;
$yellow: #FFEF35;