@import "../../assets/styles/helpers/vars.scss";

.categories {
    // .categories__title
    &__title {
        color: $black;
        font-family: $Mont;
        font-weight: 700;
        line-height: 1.44;
        margin-bottom: 13px;
    }
    // .categories__list-item
    &__list-item {
        margin-bottom: 13px;
    }
}
